.navbar{
    background:#fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.navbar-brand{
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
}
.login-button{
    background: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color; 
}

.login-button:hover{
    background-color: #00ffbb;
    color:black;
}

.navbar-toggler{
    border:none;
    font-size: 1.5rem;
    transition: 0.3s background-color;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}


@media(min-width: 991px){
.nav-link{
    color:#666777;
    font-weight: 500;
    position: relative;
}

.navbar-toggler:hover, .btn-close:hover{
    color: rgb(108, 105, 105);
}

.nav-link::before{
    content:" ";
    position: absolute;
    bottom: 0;
    left: 50;
    right: 0;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.navbar-toggler:hover::before, .btn-close:hover::before{
    width: 100%;
    visibility: visible;
}
}

.hero-section{
    background: url(hero-bg.png) no-repeat center;
    background-size: cover;
    width: 100%;
}

.hero-section::before{
    background-color: rgba(0, 0, 0, 0.6);
    content:" ";
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1{
    font-size: 1.5em;
    
}